<p>interpolation component</p>
<div>
    <h1>Expression Javascript</h1>
    <h1>{{2+2}} </h1>
    <h1>property Javascript</h1>
    <h3>{{name}} </h3>
    <h2>Javascript properties</h2>
    <h2>{{name.length}} </h2>
    <h1>Javascript Methods</h1>
    <h4>{{name.toUpperCase()}} </h4>

    <div>
        <h1>Not use interpolation</h1>
        <p>assignments are not possible</p>
      <!-- <h1>{{a = 2+2}} </h1> -->
      <p>Javascript global objects</p>
      <!-- <h2>{{window.location.href}} </h2> -->
      <p>use varible with global objects</p>
      <h2>{{site}} </h2>
    </div>
</div>
